# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# VS Code
.vscode/

# Project specific
data/*
!data/.gitkeep

# Environment
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
